/* ── Activities — Container ─────────────────────────────── */
.activities-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.responsive-box {
  height: 300px;
}

@media (max-width: 768px) {
  .responsive-box {
    height: 50px;
  }
}